@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

:root {
  --primary: #e14658;
  --dark-bg: #22252c;
  --card-bg: #2e3038;
  --highlight: #00bfa6;
  --light-text: #ffffff;
  --secondary-text: #aaaaaa;
  --warm-bg: #c0b3a0;
  --font-family: "Roboto Slab", serif;
}

body {
  background-color: var(--dark-bg);
  color: var(--light-text);
  scroll-behavior: smooth;
  font-family: var(--font-family) !important;
}
input::placeholder {
  color: #ffffff;
}

.btn-custom {
  background-color: var(--primary);
  color: white;
  border-radius: 10px;
}

.btn-custom:hover {
  background-color: var(--highlight);
  color: white;
}

.navbar {
  background-color: var(--card-bg);
}

#tickets .card {
  background-color: var(--card-bg);
  color: var(--light-text);
}

.cardBody {
  background-color: var(--card-bg);
}

.cover-overlay {
  background-color: rgba(34, 37, 44, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
